<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <button>返回</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>排名</th>
            <th>名称</th>
            <th>分数</th>
            <th>净胜球</th>
            <th>总进球</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userScore,iter: ${userScores}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${userScore.username}"></td>
            <td th:text="${userScore.points}"></td>
            <td th:text="${userScore.goalDifferential}"></td>
            <td th:text="${userScore.goals}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>